body {
	background-color: blue;
	font-family: Arial;
	color: white;
}

.container {
  margin-left: 25px;
}

.header {
  display: flex;
  align-items: center;
}

.section-1 {
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 50px;
}

.text-1 {
  flex: 0 0 400px;
  z-index: 1;
  margin-right: -69px;
  margin-top: 45px;
}

.picture-1 {
  flex: 0 1 900px;
  z-index: 0;
}

.section-2 {  
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

.patented-technology {
  flex: 0 1 500px;
  margin-right: 50px;
}

.tested-on-brain-and-behavior {
  flex: 0 1 500px;
}

a {
  color: white;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;
}

input[type='button'] {
  border: 0px;
  border-radius: 25px;
  background-color: orange;
  color: white;
  font-weight: bold;
  padding: 10px 25px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  font-weight: normal;
}